@use '../../base/vars'as *;

// header切り替え
.header_pc{
    display: block;

    @include media_query($sm){
        display: none;
    }
}
.header_sp{
    display: none;

    @include media_query($sm){
        display: block;
    }
}

// レイアウト
.header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: rem(20) rem(45);


    .header_tel{
        display: block;
        width: 100%;
        max-width: 246px;
        margin-left: auto;
        position: relative;

        img{
            transition: opacity 0.3s;
            &:first-of-type{
                &:hover{
                    opacity: 0;
                }
            }
            &:last-of-type{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    ul{
        display: flex;
        gap: rem(36);

        a{
            position: relative;

            .nav_hover{
                position: absolute;
                width: rem(31);
                top: 0;
                right: -15px;
                z-index: -1;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover{
                .nav_hover{
                    opacity: 1;
                }
            }
        }
        .nav_ja,
        .nav_en{
            display: block;
        }
        .nav_ja{
            margin-bottom: rem(3);
        }
        .nav_en{
            text-transform: uppercase;
            font-size: rem(12);
            text-align: center;
        }
    }
}