@use "sass:math";

///*------------------------------------*//
//    Fonts
//*------------------------------------*//
$font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
$font-poppin: "Poppins", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
;
$line-height: 1.5;




///*------------------------------------*//
//    Colors
//*------------------------------------*//
$black: #1C1C1C;
$text-color1: #1C1C1C;
$text-color2: #D5D5D5;
$text-color3: #5E5957;

$base-color: #FFFFFF;

$main-color1: #E0D6C2;
$main-color1-up: #C79F65;
$main-color1-down: #F4F0EA;
$main-color2: #D97B0E;
$accent-color: #193B64;




///*------------------------------------*//
//    breakpoints
//*------------------------------------*//
$sm: 768;
$md: 1000;
$lg: 1200;
$xl: 1600;

$pl1: 450;
$pl2: 600;
$pl3: 985;



///*------------------------------------*//
//     Mixin
//*------------------------------------*//

//メディアクエリ挿入
@mixin media_query($width: 640) {
    @media screen and (max-width: $width+px) {
        @content;
    }
}

//フォントサイズ計算
@function rem($size, $base: 16) {
    @return math.div($size, $base)+rem;
}