@use "sass:math";

///*------------------------------------*//
//    Fonts
//*------------------------------------*//
$font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
$line-height: 1.5;




///*------------------------------------*//
//    Colors
//*------------------------------------*//
$black: #1C1C1C;




///*------------------------------------*//
//    breakpoints
//*------------------------------------*//
$sm: 768;
$md: 1000;
$lg: 1200;
$xl: 1600;



///*------------------------------------*//
//     Mixin
//*------------------------------------*//

//メディアクエリ挿入
@mixin media_query($width:640) {
    @media screen and (max-width: $width+px) {
        @content;
    }
}

//フォントサイズ計算
@function rem($size, $base: 16) {
    @return math.div($size, $base)+rem;
}